@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html{
  scroll-behavior: smooth;
}
*{
  font-family: 'poppins',sans-serif;
}
:root{
  --colora:red;
  --font:6.4rem;
  --fonta: 3.5rem;
  --fontb: 2.3rem;
  --fontc:1.2rem;
  --fontd:0.8rem;
}

.container{
  height: 100vh;
  background-repeat: no-repeat;
 background-size: cover;
 background-position:center;
 transition: 1s;
}
nav{
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  background-color: transparent;
  /* border-bottom: solid 1px black; */
}
.logoholder{
  height: 130px;
  border-radius: 0 0 35px 35px;
  background-color: black;
  padding: 0 10px;

}
.logoholder2{
  height: 115px;
  border-radius: 0 0 25px 25px;
  background-color: transparent;
  border: solid 3px var(--colora);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  height: 75px;
}
nav ul{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: var(--fontc);
}
nav ul li a:hover{
  color: var(--colora);
}
.btn-begin{
  padding: 8px 25px;
    font-size: 1rem;
    text-transform: capitalize;
    box-shadow: 0 0 35px var(--colora);
    color: white;
    background-color: black;
    border-radius: 100px;
    transition: 0.5s;
}
.btn-begin:hover{
  color: white;
    background-color: var(--colora);
    box-shadow: 0 0 70px var(--colora);
}
.holder{
  height: calc(100vh - 80px);
  padding-top: calc(5% + 80px);
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.counter-holder{
  color: white;
  border: solid white 1px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.counter{
  color: white;
}
.holder{
  padding: 0 10%;
}
.holder2{
  height: calc(100vh - 130px);
  overflow-y:scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


.holder2::-webkit-scrollbar,
.holder2::-webkit-scrollbar-thumb,
.holder2::-webkit-scrollbar-track { 
    width: 8px;
    border: none;
    background: transparent;
}

.holder2::-webkit-scrollbar-button,
.holder2::-webkit-scrollbar-track-piece,
.holder2::-webkit-scrollbar-corner,
.holder2::-webkit-resizer {
    display: none;
}

.holder2::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: white;
    
    
}

.holder2::-webkit-scrollbar-track {
    background-image: url("https://i.imgur.com/GvV1R30.png");
    background-repeat: repeat-y;
    background-size: contain;
}


#start{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
  scroll-snap-align: start;
}
#about{
  height: calc(100vh - 130px);
  scroll-snap-align: start;
  padding-top: 10px;
  color: white;
}
#info{
  height: calc(100vh - 130px);
  scroll-snap-align: start;
  color: white;
  padding-top: 10px;
}
.youmusic{
  color:white;
  font-size: var(--font);
  letter-spacing: 5px;
  -webkit-text-stroke: 3px black;
}
.heading{
  font-size: var(--fontb);
  text-transform: uppercase;
}
.searchcontainer{
  /* height: calc(100vh - 130px - 90px); */
  height: 100%;
  padding: 5% 10%;
}
.search-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
input{
  height: 50px;
  width: 480px;
  border-radius: 25px 0 0 25px;
  padding: 0%;
  margin: 0%;
  padding-left: 16px;
}
.form-btn{
  height: 50px;
  width: 120px;
  border-radius: 0 25px 25px 0;
  padding: 0%;
  margin: 0%;
}
.before-holder{
  padding: 5% 0;

}

.player1{
  position: fixed;
  background-color: black;
  height: 80px;
  width: 100%;
  bottom: 0;
}
.loader{
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader-loader{
  height: 30vh;
}
.loader-text{
  color: white;
}